USE [master]
GO
/****** Object:  Database [PQ_Task_Management]    Script Date: 20-06-2026 12:08:06 ******/
CREATE DATABASE [PQ_Task_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PQ_Task_Management', FILENAME = N'D:\SQL_DATA\PQ_Task_Management.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PQ_Task_Management_log', FILENAME = N'E:\SQL_LOG\PQ_Task_Management_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PQ_Task_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PQ_Task_Management]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 20-06-2026 12:08:11 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SQLArcExtensionUserRole]    Script Date: 20-06-2026 12:08:11 ******/
CREATE ROLE [SQLArcExtensionUserRole]
GO
ALTER ROLE [SQLArcExtensionUserRole] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[MM_Plant]    Script Date: 20-06-2026 12:08:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Plant](
	[Plant_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Plant_Name] [nvarchar](100) NULL,
	[Description] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[Country] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Transfered] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
	[Sap_Code] [nvarchar](15) NULL,
	[Plant_Code] [varchar](15) NULL,
 CONSTRAINT [PK_MM_Plant_1] PRIMARY KEY CLUSTERED 
(
	[Plant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Employee]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Employee](
	[Employee_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[Employee_Name] [nvarchar](100) NOT NULL,
	[Employee_No] [nvarchar](100) NOT NULL,
	[Designation_ID] [decimal](18, 0) NOT NULL,
	[Reporting_Manager_ID] [decimal](18, 0) NULL,
	[Team_Lead_ID] [decimal](18, 0) NULL,
	[Audit_Type_Id] [numeric](18, 0) NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Is_Transfered] [bit] NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
	[Plant_Code] [nvarchar](100) NULL,
	[Email_Address] [nvarchar](100) NULL,
 CONSTRAINT [PK_mm_users] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PQ_Task_Management_Dashboard]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PQ_Task_Management_Dashboard]
AS
SELECT        plant.Plant_Name, shop.Shop_Name, model.Model_Name, build.Build_Phase_Name, audit.Audit_ID, audit.Audit_Date, audit.Vin_No, audit.Average, audit.Max, audit.Min, fuel.Fuel_Name, d.Remark, d.Is_OK, 
                         CASE WHEN d .Is_Ok = 1 THEN 'OK' ELSE 'Not OK' END AS Status, d.Type, d.Leak_Value, att.Attribution_Name, sev.Severity_Name, sev.Severity_Value, emp.Employee_Name, loc.Location_Name, part.Part_Name, 
                         plant.Plant_Code, planmlog.Audit_Due_Date, planmlog.Audit_Plan_Log_ID, planmlog.Status AS Plan_Status, GETDATE() AS CurrentDate, dbo.MM_Model_Wise_Target.MIN AS MinTarget, 
                         dbo.MM_Model_Wise_Target.MAX AS MaxTarget, dbo.MM_Model_Wise_Target.Model_Target_ID
FROM            dbo.MM_Audit_Plan_Master AS planm LEFT OUTER JOIN
                         dbo.MM_Audit_Plan_Log_Details AS planmlog ON planm.Audit_Plan_ID = planmlog.Audit_Plan_ID LEFT OUTER JOIN
                         dbo.MM_Audit_Master AS audit ON audit.Audit_Plan_Log_ID = planmlog.Audit_Plan_Log_ID LEFT OUTER JOIN
                         dbo.MM_Audit_Sheet_Details AS d ON d.Audit_ID = audit.Audit_ID INNER JOIN
                         dbo.MM_Plant AS plant ON audit.Plant_ID = plant.Plant_ID INNER JOIN
                         dbo.MM_Shop AS shop ON audit.Shop_ID = shop.Shop_ID INNER JOIN
                         dbo.MM_Model AS model ON audit.Model_ID = model.Model_ID INNER JOIN
                         dbo.MM_Build_Phase AS build ON audit.Build_Phase_ID = build.Build_Phase_ID INNER JOIN
                         dbo.MM_Fuel AS fuel ON audit.Fuel_ID = fuel.Fuel_ID INNER JOIN
                         dbo.MM_Model_Wise_Target ON audit.Model_Target_ID = dbo.MM_Model_Wise_Target.Model_Target_ID LEFT OUTER JOIN
                         dbo.MM_Part_Master AS part ON d.Part_ID = part.Part_ID LEFT OUTER JOIN
                         dbo.MM_Location_Master AS loc ON d.Location_ID = loc.Location_ID LEFT OUTER JOIN
                         dbo.MM_Attribution_Master AS att ON d.Attribution_ID = att.Attribution_ID LEFT OUTER JOIN
                         dbo.MM_Severity AS sev ON d.Severity_ID = sev.Severity_ID LEFT OUTER JOIN
                         dbo.MM_Employee AS emp ON audit.Auditor_ID = emp.Employee_ID
GO
/****** Object:  View [dbo].[PQ_Task_Management_Dashboard_Plan_Actual]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PQ_Task_Management_Dashboard_Plan_Actual]
AS
SELECT        dbo.MM_Audit_Plan_Master.Audit_Plan_ID, dbo.MM_Audit_Plan_Master.Audit_Start_Date, dbo.MM_Audit_Plan_Log_Details.Audit_Due_Date, CASE WHEN MM_Audit_Master.Audit_Date IS NULL 
                         THEN dbo.MM_Audit_Plan_Log_Details.Audit_Due_Date WHEN MM_Audit_Master.Audit_Date > dbo.MM_Audit_Plan_Log_Details.Audit_Due_Date THEN dbo.MM_Audit_Plan_Log_Details.Audit_Due_Date WHEN MM_Audit_Master.Audit_Date
                          <= dbo.MM_Audit_Plan_Log_Details.Audit_Due_Date THEN MM_Audit_Master.Audit_Date END AS New_Final_Date, dbo.MM_Model.Model_Name, dbo.MM_Shop.Shop_Name, 'Nashik' AS Final_Plant_Name, 
                         dbo.MM_Audit_Plan_Log_Details.Audit_Plan_Log_ID, dbo.MM_Audit_Plan_Log_Details.Status, dbo.MM_Audit_Plan_Master.Audit_End_Date
FROM            dbo.MM_Audit_Plan_Master LEFT OUTER JOIN
                         dbo.MM_Audit_Plan_Log_Details ON dbo.MM_Audit_Plan_Master.Audit_Plan_ID = dbo.MM_Audit_Plan_Log_Details.Audit_Plan_ID LEFT OUTER JOIN
                         dbo.MM_Shop ON dbo.MM_Shop.Shop_ID = dbo.MM_Audit_Plan_Master.Shop_ID LEFT OUTER JOIN
                         dbo.MM_Model ON dbo.MM_Audit_Plan_Master.Model_ID = dbo.MM_Model.Model_ID LEFT OUTER JOIN
                         dbo.MM_Audit_Master ON dbo.MM_Audit_Master.Audit_Plan_Log_ID = dbo.MM_Audit_Plan_Log_Details.Audit_Plan_Log_ID
WHERE        (dbo.MM_Audit_Plan_Log_Details.Status <> 2)
GO
/****** Object:  View [dbo].[Model_Plant_List]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Model_Plant_List]
AS
SELECT DISTINCT Model_Name, Final_Plant_Name
FROM            dbo.PQ_Task_Management_Dashboard_Plan_Actual
GO
/****** Object:  Table [dbo].[Audit_Type_Master]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Type_Master](
	[Audit_Type_Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Audit_Type] [nvarchar](50) NULL,
	[Is_Transfered] [bit] NULL,
	[Plant_Code] [varchar](15) NULL,
 CONSTRAINT [PK_Audit_Type_Master] PRIMARY KEY CLUSTERED 
(
	[Audit_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Activity_Details]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Activity_Details](
	[Activity_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Employee_ID] [numeric](18, 0) NOT NULL,
	[Activity_Date] [datetime] NOT NULL,
	[Activity_Type_ID] [numeric](18, 0) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Add_In_Mail] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](50) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
	[Plant_Code] [varchar](15) NULL,
 CONSTRAINT [PK_MM_Activity_Details] PRIMARY KEY CLUSTERED 
(
	[Activity_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Activity_Type_Master]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Activity_Type_Master](
	[Activity_Type_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Activity_Name] [nvarchar](100) NULL,
	[SORTORDER] [numeric](18, 0) NULL,
 CONSTRAINT [PK_MM_Activity_Type_Master] PRIMARY KEY CLUSTERED 
(
	[Activity_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Daily_Status]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Daily_Status](
	[Status_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Employee_ID] [numeric](18, 0) NOT NULL,
	[Date] [datetime] NOT NULL,
	[In_Time] [datetime] NULL,
	[Out_Time] [datetime] NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Remark] [nvarchar](100) NOT NULL,
	[Is_Working] [bit] NOT NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](50) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
	[Plant_Code] [varchar](15) NULL,
 CONSTRAINT [PK_MM_Daily_Status] PRIMARY KEY CLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Designation]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Designation](
	[Designation_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[Designation_Name] [nvarchar](100) NOT NULL,
	[Audit_Type_Id] [numeric](18, 0) NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Is_Transfered] [bit] NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
	[Plant_Code] [nvarchar](100) NULL,
 CONSTRAINT [PK_MM_Designation] PRIMARY KEY CLUSTERED 
(
	[Designation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Error_Log]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Error_Log](
	[EL_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[BuyoffCode] [numeric](18, 0) NULL,
	[Controller_Name] [nvarchar](100) NULL,
	[Action_Name] [nvarchar](100) NULL,
	[Meta_Class_Name] [nvarchar](50) NULL,
	[Method_Name] [nvarchar](100) NULL,
	[Exception_Detail] [text] NULL,
	[Inner_Exception] [text] NULL,
	[Message] [text] NULL,
	[Exception_Data] [text] NULL,
	[Target_Site] [text] NULL,
	[Stack_Trace] [text] NULL,
	[Source] [text] NULL,
	[H_Result] [text] NULL,
	[Is_Transferred] [bit] NULL,
	[Is_Purgeable] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_MM_Error_Log] PRIMARY KEY CLUSTERED 
(
	[EL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Mail_Tracking]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Mail_Tracking](
	[Track_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Body] [nvarchar](max) NULL,
	[To] [nvarchar](max) NULL,
	[CC] [nvarchar](max) NULL,
	[Inserted_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Mail_Tracking] PRIMARY KEY CLUSTERED 
(
	[Track_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Roles]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Roles](
	[Role_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](50) NOT NULL,
	[Role_Description] [nvarchar](100) NULL,
	[Is_Transfered] [bit] NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Inserted_User_ID] [numeric](18, 0) NOT NULL,
	[Inserted_Date] [datetime] NOT NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
	[Is_Show_Documentations] [bit] NULL,
	[Technical_Documentations] [nvarchar](200) NULL,
	[Functional_Documentations] [nvarchar](200) NULL,
	[Plant_ID] [numeric](18, 0) NOT NULL,
	[Is_Active] [bit] NULL,
	[Audit_Type_Id] [numeric](18, 0) NULL,
 CONSTRAINT [PK_mm_user_role] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Task_Details]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Task_Details](
	[Task_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Employee_ID] [numeric](18, 0) NOT NULL,
	[Due_Date] [datetime] NOT NULL,
	[Task_Description] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](100) NULL,
	[Status] [nvarchar](100) NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](50) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
	[Plant_Code] [varchar](15) NULL,
 CONSTRAINT [PK_MM_Task_Details] PRIMARY KEY CLUSTERED 
(
	[Task_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Team_List]    Script Date: 20-06-2026 12:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Team_List](
	[Team_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Team_Name] [nvarchar](50) NOT NULL,
	[SORTORDER] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_MM_Team_List] PRIMARY KEY CLUSTERED 
(
	[Team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Audit_Type_Master] ON 

INSERT [dbo].[Audit_Type_Master] ([Audit_Type_Id], [Audit_Type], [Is_Transfered], [Plant_Code]) VALUES (CAST(1 AS Numeric(18, 0)), N'BLT', NULL, N'A003')
SET IDENTITY_INSERT [dbo].[Audit_Type_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[MM_Activity_Details] ON 

INSERT [dbo].[MM_Activity_Details] ([Activity_ID], [Employee_ID], [Activity_Date], [Activity_Type_ID], [Description], [Add_In_Mail], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Plant_Code]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-10T00:00:00.000' AS DateTime), CAST(1 AS Numeric(18, 0)), N'Developed task management application - UI', 1, N'addt253518', CAST(1 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, N'A003')
INSERT [dbo].[MM_Activity_Details] ([Activity_ID], [Employee_ID], [Activity_Date], [Activity_Type_ID], [Description], [Add_In_Mail], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Plant_Code]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-10T00:00:00.000' AS DateTime), CAST(4 AS Numeric(18, 0)), N'Working on teams alert from angular , previously tested from api it was not working now working on from angular level', 1, N'addt253518', CAST(1 AS Numeric(18, 0)), NULL, NULL, NULL, NULL, N'A003')
GO
SET IDENTITY_INSERT [dbo].[MM_Activity_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[MM_Activity_Type_Master] ON 

INSERT [dbo].[MM_Activity_Type_Master] ([Activity_Type_ID], [Activity_Name], [SORTORDER]) VALUES (CAST(1 AS Numeric(18, 0)), N'New Development', CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[MM_Activity_Type_Master] ([Activity_Type_ID], [Activity_Name], [SORTORDER]) VALUES (CAST(2 AS Numeric(18, 0)), N'Issue', CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[MM_Activity_Type_Master] ([Activity_Type_ID], [Activity_Name], [SORTORDER]) VALUES (CAST(3 AS Numeric(18, 0)), N'Meeting', CAST(3 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[MM_Activity_Type_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[MM_Daily_Status] ON 

INSERT [dbo].[MM_Daily_Status] ([Status_ID], [Employee_ID], [Date], [In_Time], [Out_Time], [Status], [Remark], [Is_Working], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Plant_Code]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-18T00:00:00.000' AS DateTime), CAST(N'2026-03-18T09:00:00.000' AS DateTime), CAST(N'2026-03-18T18:00:00.000' AS DateTime), N'Present', N'working', 1, N'addt253518', CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-19T09:29:34.743' AS DateTime), NULL, NULL, NULL, N'A003')
INSERT [dbo].[MM_Daily_Status] ([Status_ID], [Employee_ID], [Date], [In_Time], [Out_Time], [Status], [Remark], [Is_Working], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Plant_Code]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-17T00:00:00.000' AS DateTime), CAST(N'2026-03-17T09:00:00.000' AS DateTime), CAST(N'2026-03-17T18:00:00.000' AS DateTime), N'Present', N'working', 1, N'addt253518', CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-19T09:30:11.713' AS DateTime), NULL, NULL, NULL, N'A003')
SET IDENTITY_INSERT [dbo].[MM_Daily_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[MM_Designation] ON 

INSERT [dbo].[MM_Designation] ([Designation_ID], [Designation_Name], [Audit_Type_Id], [Plant_ID], [Is_Transfered], [Is_Purgeable], [Is_Edited], [Is_Deleted], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Plant_Code]) VALUES (CAST(1 AS Decimal(18, 0)), N'Manager', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2025-07-21T14:37:49.100' AS DateTime), NULL, NULL, CAST(N'2025-07-21T14:37:49.100' AS DateTime), N'A003')
INSERT [dbo].[MM_Designation] ([Designation_ID], [Designation_Name], [Audit_Type_Id], [Plant_ID], [Is_Transfered], [Is_Purgeable], [Is_Edited], [Is_Deleted], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Plant_Code]) VALUES (CAST(2 AS Decimal(18, 0)), N'Team Lead', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2025-07-21T14:38:06.370' AS DateTime), NULL, NULL, CAST(N'2025-07-21T14:38:06.370' AS DateTime), N'A002')
INSERT [dbo].[MM_Designation] ([Designation_ID], [Designation_Name], [Audit_Type_Id], [Plant_ID], [Is_Transfered], [Is_Purgeable], [Is_Edited], [Is_Deleted], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Plant_Code]) VALUES (CAST(3 AS Decimal(18, 0)), N'Developer', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), NULL, NULL, 0, NULL, NULL, NULL, CAST(N'2025-07-21T14:38:06.370' AS DateTime), NULL, NULL, CAST(N'2025-07-21T14:38:06.370' AS DateTime), N'A002')
SET IDENTITY_INSERT [dbo].[MM_Designation] OFF
GO
SET IDENTITY_INSERT [dbo].[MM_Employee] ON 

SET IDENTITY_INSERT [dbo].[MM_Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[MM_Plant] ON 

INSERT [dbo].[MM_Plant] ([Plant_ID], [Plant_Name], [Description], [Address], [Country], [State], [City], [Is_Purgeable], [Is_Edited], [Is_Transfered], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Sap_Code], [Plant_Code]) VALUES (CAST(1 AS Numeric(18, 0)), N'Nashik', N'Nashik', N'Nashik', N'India', N'Maharashtra', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'A003')
SET IDENTITY_INSERT [dbo].[MM_Plant] OFF
GO
SET IDENTITY_INSERT [dbo].[MM_Roles] ON 

INSERT [dbo].[MM_Roles] ([Role_ID], [Role_Name], [Role_Description], [Is_Transfered], [Is_Purgeable], [Is_Edited], [Inserted_User_ID], [Inserted_Date], [Updated_User_ID], [Updated_Date], [Is_Show_Documentations], [Technical_Documentations], [Functional_Documentations], [Plant_ID], [Is_Active], [Audit_Type_Id]) VALUES (CAST(2 AS Numeric(18, 0)), N'Master Config', N'Master Config', NULL, NULL, NULL, CAST(0 AS Numeric(18, 0)), CAST(N'2023-12-29T21:37:38.630' AS DateTime), NULL, CAST(N'2023-12-29T22:15:53.083' AS DateTime), NULL, NULL, NULL, CAST(1 AS Numeric(18, 0)), 1, CAST(1 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[MM_Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[MM_Task_Details] ON 

INSERT [dbo].[MM_Task_Details] ([Task_ID], [Employee_ID], [Due_Date], [Task_Description], [Priority], [Status], [Inserted_Host], [Inserted_User_ID], [Inserted_Date], [Updated_Host], [Updated_User_ID], [Updated_Date], [Plant_Code]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-14T00:00:00.000' AS DateTime), N'MCAR escalation mails', N'Medium', N'Completed', N'addt253518', CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-13T12:54:26.440' AS DateTime), N'mmnskp1drnpq', CAST(1 AS Numeric(18, 0)), CAST(N'2026-03-13T16:57:41.050' AS DateTime), N'A003')
SET IDENTITY_INSERT [dbo].[MM_Task_Details] OFF
GO
ALTER TABLE [dbo].[Audit_Type_Master] ADD  CONSTRAINT [DF__Audit_Typ__Plant__7FB5F314]  DEFAULT ('A003') FOR [Plant_Code]
GO
ALTER TABLE [dbo].[MM_Activity_Details] ADD  CONSTRAINT [DF_MM_Activity_Details_Plant_Code]  DEFAULT ('A003') FOR [Plant_Code]
GO
ALTER TABLE [dbo].[MM_Daily_Status] ADD  CONSTRAINT [DF_MM_Daily_Status_Plant_Code]  DEFAULT ('A003') FOR [Plant_Code]
GO
ALTER TABLE [dbo].[MM_Designation] ADD  CONSTRAINT [DF_MM_Designation_Is_Edited]  DEFAULT ((0)) FOR [Is_Edited]
GO
ALTER TABLE [dbo].[MM_Designation] ADD  CONSTRAINT [DF_MM_Designation_inserted_date]  DEFAULT (getdate()) FOR [Inserted_Date]
GO
ALTER TABLE [dbo].[MM_Designation] ADD  CONSTRAINT [DF_MM_Designation_Updated_Date]  DEFAULT (getdate()) FOR [Updated_Date]
GO
ALTER TABLE [dbo].[MM_Designation] ADD  CONSTRAINT [DF_MM_Designation_Plant_Code]  DEFAULT (N'A003') FOR [Plant_Code]
GO
ALTER TABLE [dbo].[MM_Employee] ADD  CONSTRAINT [DF_MM_Employee_Is_Edited]  DEFAULT ((0)) FOR [Is_Edited]
GO
ALTER TABLE [dbo].[MM_Employee] ADD  CONSTRAINT [DF_mm_users_inserted_date]  DEFAULT (getdate()) FOR [Inserted_Date]
GO
ALTER TABLE [dbo].[MM_Employee] ADD  CONSTRAINT [DF_MM_Employee_Updated_Date]  DEFAULT (getdate()) FOR [Updated_Date]
GO
ALTER TABLE [dbo].[MM_Employee] ADD  CONSTRAINT [DF_MM_Employee_Plant_Code]  DEFAULT (N'A003') FOR [Plant_Code]
GO
ALTER TABLE [dbo].[MM_Error_Log] ADD  CONSTRAINT [DF_MM_Error_Log_Is_Transferred]  DEFAULT ((0)) FOR [Is_Transferred]
GO
ALTER TABLE [dbo].[MM_Error_Log] ADD  CONSTRAINT [DF_MM_Error_Log_Is_Purgeable]  DEFAULT ((1)) FOR [Is_Purgeable]
GO
ALTER TABLE [dbo].[MM_Error_Log] ADD  CONSTRAINT [DF_MM_Error_Log_Inserted_Date]  DEFAULT (getdate()) FOR [Inserted_Date]
GO
ALTER TABLE [dbo].[MM_Mail_Tracking] ADD  CONSTRAINT [DF_MM_Mail_Tracking_Inserted_Date]  DEFAULT (getdate()) FOR [Inserted_Date]
GO
ALTER TABLE [dbo].[MM_Plant] ADD  DEFAULT ('A002') FOR [Plant_Code]
GO
ALTER TABLE [dbo].[MM_Task_Details] ADD  CONSTRAINT [DF_MM_Task_Details_Plant_Code]  DEFAULT ('A003') FOR [Plant_Code]
GO
ALTER TABLE [dbo].[MM_Activity_Details]  WITH CHECK ADD  CONSTRAINT [FK_MM_Activity_Details_MM_Activity_Type_Master] FOREIGN KEY([Activity_Type_ID])
REFERENCES [dbo].[MM_Activity_Type_Master] ([Activity_Type_ID])
GO
ALTER TABLE [dbo].[MM_Activity_Details] CHECK CONSTRAINT [FK_MM_Activity_Details_MM_Activity_Type_Master]
GO
ALTER TABLE [dbo].[MM_Employee]  WITH CHECK ADD  CONSTRAINT [FK_MM_Employee_MM_Designation] FOREIGN KEY([Designation_ID])
REFERENCES [dbo].[MM_Designation] ([Designation_ID])
GO
ALTER TABLE [dbo].[MM_Employee] CHECK CONSTRAINT [FK_MM_Employee_MM_Designation]
GO
ALTER TABLE [dbo].[MM_Employee]  WITH CHECK ADD  CONSTRAINT [FK_MM_Employee_MM_Employee2] FOREIGN KEY([Reporting_Manager_ID])
REFERENCES [dbo].[MM_Employee] ([Employee_ID])
GO
ALTER TABLE [dbo].[MM_Employee] CHECK CONSTRAINT [FK_MM_Employee_MM_Employee2]
GO
ALTER TABLE [dbo].[MM_Employee]  WITH CHECK ADD  CONSTRAINT [FK_MM_Employee_MM_Plant] FOREIGN KEY([Plant_ID])
REFERENCES [dbo].[MM_Plant] ([Plant_ID])
GO
ALTER TABLE [dbo].[MM_Employee] CHECK CONSTRAINT [FK_MM_Employee_MM_Plant]
GO
ALTER TABLE [dbo].[MM_Roles]  WITH CHECK ADD  CONSTRAINT [FK_MM_Roles_Audit_Type_Master] FOREIGN KEY([Audit_Type_Id])
REFERENCES [dbo].[Audit_Type_Master] ([Audit_Type_Id])
GO
ALTER TABLE [dbo].[MM_Roles] CHECK CONSTRAINT [FK_MM_Roles_Audit_Type_Master]
GO
/****** Object:  StoredProcedure [dbo].[SP_GeneratePlanAuditLog]    Script Date: 20-06-2026 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GeneratePlanAuditLog]
AS
BEGIN
    DECLARE @Audit_Plan_ID INT;
DECLARE @Model_ID INT;
DECLARE @Shop_ID INT;
DECLARE @Plant_ID INT;
DECLARE @Audit_Type_ID INT;
DECLARE @Schedule_Type_ID INT;
DECLARE @Frequency INT;
DECLARE @LastLogDate DATE;
DECLARE @todayDate DATE = GETDATE();
DECLARE @DueDate DATE = GETDATE();
DECLARE @CurrentMonth INT = MONTH(@todayDate);
-- Declare the cursor to select all columns from MM_Audit_Plan_Master
DECLARE my_cursor CURSOR FOR
SELECT D.Audit_Plan_ID, D.Model_ID, D.Shop_ID, D.Plant_ID, D.Audit_Type_ID, D.Schedule_Type_ID, D.Frequency
FROM MM_Audit_Plan_Master D 
WHERE D.IS_Active=1 AND D.Audit_Start_Date <= @todayDate AND D.Audit_End_Date >= @todayDate;
 
-- Open the cursor
OPEN my_cursor;
 
-- Fetch the first row
FETCH NEXT FROM my_cursor INTO @Audit_Plan_ID, @Model_ID, @Shop_ID, @Plant_ID, @Audit_Type_ID, @Schedule_Type_ID, @Frequency;
 
-- Iterate through all rows
WHILE @@FETCH_STATUS = 0
BEGIN
    -- Get the count of the logs and adjust Frequency
    SELECT @LastLogDate = MAX(Audit_Due_Date)
    FROM MM_Audit_Plan_Log_Details
    WHERE Audit_Plan_ID = @Audit_Plan_ID ;
 
	if(@Schedule_Type_ID=1) --For Daily
	begin 
	 IF (@LastLogDate IS NULL OR @LastLogDate <= @todayDate)
		BEGIN
			-- Calculate remaining frequency by subtracting the count of records
			SELECT @Frequency = @Frequency - COUNT(*) 
			FROM MM_Audit_Plan_Log_Details
			WHERE Audit_Plan_ID = @Audit_Plan_ID AND CAST(Audit_Due_Date AS DATE) = @todayDate;
		END
 set @DueDate = @todayDate;
	end
 
	if(@Schedule_Type_ID=2) --For Weekly
	begin
	    DECLARE @CurrentWeekStartDate DATE = DATEADD(DAY, -DATEPART(WEEKDAY, @todayDate) + 1, @todayDate);
		DECLARE @CurrentWeekEndDate DATE = DATEADD(DAY, 7 - DATEPART(WEEKDAY, @todayDate), @todayDate);
		IF (@LastLogDate IS NULL OR @LastLogDate <= @CurrentWeekEndDate)
		BEGIN
			-- Calculate remaining frequency by subtracting the count of records
			SELECT @Frequency = @Frequency - COUNT(*) 
			FROM MM_Audit_Plan_Log_Details
			WHERE Audit_Plan_ID = @Audit_Plan_ID AND Audit_Due_Date = @CurrentWeekEndDate;
		END
		set @DueDate = @CurrentWeekEndDate;
	end
 
	if(@Schedule_Type_ID=3) --For Half Monthly
	begin
	    DECLARE @CurrentHalfMonth INT = CASE 
        WHEN DAY(@todayDate) <= 15 THEN 1 
        ELSE 2 
		END;
		DECLARE @HalfMonthEndDate DATE = CASE 
			WHEN @CurrentHalfMonth = 1 THEN DATEFROMPARTS(YEAR(@todayDate), MONTH(@todayDate), 15)
			ELSE EOMONTH(@todayDate)
		END;
		IF (@LastLogDate IS NULL OR @LastLogDate <= @HalfMonthEndDate)
		BEGIN
			-- Calculate remaining frequency by subtracting the count of records
			SELECT @Frequency = @Frequency - COUNT(*) 
			FROM MM_Audit_Plan_Log_Details
			WHERE Audit_Plan_ID = @Audit_Plan_ID AND Audit_Due_Date = @HalfMonthEndDate;
		END
		set @DueDate = @HalfMonthEndDate;
	end
 
	if(@Schedule_Type_ID=4) --For  Monthly
	begin
	    DECLARE @CurrentMonthEndDate Date = EOMONTH(@todayDate);
		IF (@LastLogDate IS NULL OR @LastLogDate <= @CurrentMonthEndDate)
		BEGIN
			-- Calculate remaining frequency by subtracting the count of records
			SELECT @Frequency = @Frequency - COUNT(*) 
			FROM MM_Audit_Plan_Log_Details
			WHERE Audit_Plan_ID = @Audit_Plan_ID AND Audit_Due_Date = @CurrentMonthEndDate;
		END
		set @DueDate = @CurrentMonthEndDate;
	end 
	if(@Schedule_Type_ID=7) --For  Quarterly
	begin
	    DECLARE @CurrentQuarter INT = DATEPART(QUARTER, @todayDate);
		DECLARE @QuarterEndDate DATE = DATEADD(QUARTER, DATEDIFF(QUARTER, 0, @todayDate) + 1, 0) - 1;
		IF (@LastLogDate IS NULL OR @LastLogDate <= @QuarterEndDate)
		BEGIN
			-- Calculate remaining frequency by subtracting the count of records
			SELECT @Frequency = @Frequency - COUNT(*) 
			FROM MM_Audit_Plan_Log_Details
			WHERE Audit_Plan_ID = @Audit_Plan_ID AND Audit_Due_Date = @QuarterEndDate;
		END
		set @DueDate = @QuarterEndDate;
	end
 
	if(@Schedule_Type_ID=5) --For  Half Yearly
	begin
	   DECLARE @CurrentHalfYear INT = CASE 
        WHEN @CurrentMonth BETWEEN 4 AND 9 THEN 1 
        ELSE 2 
		END;
		DECLARE @HalfYearEndDate DATE = CASE 
			WHEN @CurrentHalfYear = 1 THEN DATEADD(DAY, -1, DATEADD(MONTH, 6, DATEFROMPARTS(YEAR(@todayDate), 4, 1)))
			ELSE EOMONTH(DATEFROMPARTS(YEAR(@todayDate) + 1, 3, 1))
		END;
			IF (@LastLogDate IS NULL OR @LastLogDate <= @HalfYearEndDate)
			BEGIN
				-- Calculate remaining frequency by subtracting the count of records
				SELECT @Frequency = @Frequency - COUNT(*) 
				FROM MM_Audit_Plan_Log_Details
				WHERE Audit_Plan_ID = @Audit_Plan_ID AND Audit_Due_Date = @HalfYearEndDate;
			END
			set @DueDate = @HalfYearEndDate;
	end
 
	if(@Schedule_Type_ID=6) --For Yearly
	begin
	     DECLARE @NextFinancialYearEnd DATE = CASE 
        WHEN @CurrentMonth >= 4 THEN DATEFROMPARTS(YEAR(@todayDate) + 1, 3, 31) -- End of the next financial year
        ELSE DATEFROMPARTS(YEAR(@todayDate), 3, 31) -- End of the current financial year
		 END;
			IF (@LastLogDate IS NULL OR @LastLogDate <= @NextFinancialYearEnd)
			BEGIN
				-- Calculate remaining frequency by subtracting the count of records
				SELECT @Frequency = @Frequency - COUNT(*) 
				FROM MM_Audit_Plan_Log_Details
				WHERE Audit_Plan_ID = @Audit_Plan_ID AND Audit_Due_Date = @NextFinancialYearEnd;
			END
			set @DueDate = @NextFinancialYearEnd;
	end 
    -- Loop to insert based on Frequency
    WHILE @Frequency > 0
    BEGIN
        -- Insert data into MM_Audit_Plan_Log_Details
        INSERT INTO MM_Audit_Plan_Log_Details (Audit_Plan_ID, Model_ID, Shop_ID, Plant_ID, Audit_Type_ID, Audit_Due_Date, Inserted_Date,Is_Edited)
        VALUES (@Audit_Plan_ID, @Model_ID, @Shop_ID, @Plant_ID, @Audit_Type_ID,@DueDate, GetDate(),0);
        -- Decrease frequency
        SET @Frequency = @Frequency - 1;
    END
 
    -- Fetch the next row from the cursor
    FETCH NEXT FROM my_cursor INTO @Audit_Plan_ID, @Model_ID, @Shop_ID, @Plant_ID, @Audit_Type_ID, @Schedule_Type_ID, @Frequency;
END
 
-- Clean up
CLOSE my_cursor;
DEALLOCATE my_cursor;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDataFrom_Vin_Number]    Script Date: 20-06-2026 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Batch submitted through debugger: SQLQuery13.sql|7|0|C:\Users\Admin\AppData\Local\Temp\~vsC682.sql
CREATE PROCEDURE [dbo].[SP_GetDataFrom_Vin_Number]
@VIN_Number VARCHAR(max)
AS
BEGIN
	select ol.VIN_Number as VIN_Number,ol.Model_Code as Model_Code,mm.Model_Description as Model_Description,
	cast(JSON_VALUE(JSON_QUERY(mm.Attribution_Parameters), '$[8].Value') as int) as Variant,ap.Attribute_Desc as Variant_name
	from [10.3.48.32].[DRONAADNSK].[dbo].[MM_OM_Order_List] ol inner join
	[10.3.48.32].[DRONAADNSK].[dbo].[MM_Model_Master] mm on ol.Model_Code = mm.Model_Code inner join
	[10.3.48.32].[DRONAADNSK].[dbo].[MM_Attribution_Parameters] ap ON CAST(JSON_VALUE(JSON_QUERY(mm.Attribution_Parameters), '$[8].Value') AS int) = ap.Attribute_ID
	where ol.VIN_Number LIKE @VIN_Number 
	
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PQ_Task_Management_Dashboard_Plan_Actual"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 225
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Model_Plant_List'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Model_Plant_List'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -192
         Left = 0
      End
      Begin Tables = 
         Begin Table = "planm"
            Begin Extent = 
               Top = 138
               Left = 1155
               Bottom = 268
               Right = 1339
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "planmlog"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 400
               Right = 225
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "audit"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 226
            End
            DisplayFlags = 280
            TopColumn = 36
         End
         Begin Table = "d"
            Begin Extent = 
               Top = 6
               Left = 264
               Bottom = 136
               Right = 442
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "plant"
            Begin Extent = 
               Top = 6
               Left = 480
               Bottom = 136
               Right = 658
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "shop"
            Begin Extent = 
               Top = 6
               Left = 696
               Bottom = 136
               Right = 874
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "model"
            Begin Extent = 
               Top = 6
               Left = 912
               Bottom = 136
               Right = 1090
            End
            DisplayFlags = 280
            T' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PQ_Task_Management_Dashboard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'opColumn = 0
         End
         Begin Table = "build"
            Begin Extent = 
               Top = 6
               Left = 1128
               Bottom = 136
               Right = 1317
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "fuel"
            Begin Extent = 
               Top = 6
               Left = 1355
               Bottom = 136
               Right = 1533
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "part"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 216
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "loc"
            Begin Extent = 
               Top = 138
               Left = 254
               Bottom = 268
               Right = 432
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "att"
            Begin Extent = 
               Top = 138
               Left = 470
               Bottom = 268
               Right = 654
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "sev"
            Begin Extent = 
               Top = 138
               Left = 692
               Bottom = 268
               Right = 870
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "emp"
            Begin Extent = 
               Top = 138
               Left = 908
               Bottom = 268
               Right = 1117
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MM_Model_Wise_Target"
            Begin Extent = 
               Top = 285
               Left = 340
               Bottom = 415
               Right = 518
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2745
         Table = 2505
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PQ_Task_Management_Dashboard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PQ_Task_Management_Dashboard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MM_Audit_Plan_Master"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MM_Audit_Plan_Log_Details"
            Begin Extent = 
               Top = 6
               Left = 260
               Bottom = 136
               Right = 447
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MM_Shop"
            Begin Extent = 
               Top = 6
               Left = 485
               Bottom = 136
               Right = 663
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MM_Model"
            Begin Extent = 
               Top = 6
               Left = 701
               Bottom = 136
               Right = 879
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MM_Audit_Master"
            Begin Extent = 
               Top = 6
               Left = 917
               Bottom = 136
               Right = 1105
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PQ_Task_Management_Dashboard_Plan_Actual'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'        Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PQ_Task_Management_Dashboard_Plan_Actual'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PQ_Task_Management_Dashboard_Plan_Actual'
GO
USE [master]
GO
